.theme-dark {
  --color-background: #31163C;
  --color-primary: white;
  --color-turkey-feet: #FBD12D;
  --color-turkey-feather-1: #D3C073;
  --color-turkey-feather-2: #C9B254;
  --color-turkey-feather-3: #9B8631;
  --color-turkey-feather-4: #D3C073;
  --color-turkey-feather-5: #C9B254;
  --color-turkey-feather-6: #9B8631;
  --color-turkey-feather-7: #C9B254;
  --color-turkey-feather-8: #D3C073;
  --color-turkey-body: #BE6F37;
  --color-turkey-body-2: #8E5329;
  --color-turkey-eye-inner: #E6E6E6;
  --color-turkey-eye-pupil: #8E5329;
  --color-turkey-beak: #EBC154;
  --color-turkey-arms: #7E4A25;
  --color-hat-brim: #211208;
  --color-hat-top: #311B0C;
  --color-hat-top-highlight: #422410;
  --color-hat-belt: #492614;
  --color-hat-buckle: #FFEE55;
}
