* {
  box-sizing: border-box;
  transition: all .15s ease-in-out;
  transition-property: background, color, border, fill;
}
.theme-default {
  --color-background: white;
  --color-primary: black;
  --color-turkey-feet: #FBD12D;
  --color-turkey-feather-1: #FF6600;
  --color-turkey-feather-2: #F26100;
  --color-turkey-feather-3: #E55C00;
  --color-turkey-feather-4: #D85700;
  --color-turkey-feather-5: #CB5200;
  --color-turkey-feather-6: #B14800;
  --color-turkey-feather-7: #973D00;
  --color-turkey-feather-8: #7D3300;
}
.theme-dark {
  --color-background: black;
  --color-primary: white;
}
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  background: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  outline: none;
  background: var(--color-background);
  border: 1px solid var(--color-primary);
  cursor: pointer;
  padding: 12px 20px;
  line-height: 1;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 20px;
  border-radius: 2px;
}

#tom {
  
}

#feet {
  fill: var(--color-turkey-feet);
}
#feather-1 {
  fill: var(--color-turkey-feather-1);
}
#feather-2 {
  fill: var(--color-turkey-feather-2);
}
#feather-3 {
  fill: var(--color-turkey-feather-3);
}
#feather-4 {
  fill: var(--color-turkey-feather-4);
}
#feather-5 {
  fill: var(--color-turkey-feather-5);
}
#feather-6 {
  fill: var(--color-turkey-feather-6);
}
#feather-7 {
  fill: var(--color-turkey-feather-5);
}
#feather-8 {
  fill: var(--color-turkey-feather-6);
}
