* {
  box-sizing: border-box;
  transition: all .2s ease-in-out;
  transition-property: background, color, border, fill, opacity;
}

@import './themes/theme-default.css';
@import './themes/theme-dark.css';
@import './themes/theme-colorful.css';
@import './themes/theme-pastel.css';
@import './themes/theme-greyscale.css';

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  background: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes side-to-side {
  0%, 14%, 28%, 100% {
    transform: translate(0, 0);
  }
  7% {
    transform: translate(-9px, 0);
  }
  21% {
    transform: translate(9px, 0);
  }
}

@keyframes blink {
  0%, 3%, 5%, 100% {
    transform: scale(1, 1);
  }
  2%, 4% {
    transform: scale(1, 0);
  }
}

@keyframes flap-right {
  0%, 3%, 5%, 7%, 12%, 100% {
    transform: rotate(0);
  }
  2%, 4%, 6%, 10% {
    transform: rotate(-50deg) translate(-30px, 40px);
  }
}
@keyframes flap-left {
  0%, 3%, 5%, 7%, 12%, 100% {
    transform: rotate(0);
  }
  2%, 4%, 6%, 10% {
    transform: rotate(50deg) translate(30px, 40px);
  }
}

button {
  outline: none;
  background: var(--color-background);
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  cursor: pointer;
  padding: 12px 20px;
  line-height: 1;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 50px;
  border-radius: 2px;
}
button:active {
  transform: scale(.99) translate(0, 1px);
}

#body {
  fill: var(--color-turkey-body);
}
#neck,
#head {
  fill: var(--color-turkey-body-2);
}
#hat-brim {
  fill: var(--color-hat-brim);
}
#hat-top {
  fill: var(--color-hat-top);
}
#hat-top-highlight {
  fill: var(--color-hat-top-highlight);
}
#hat-belt {
  fill: var(--color-hat-belt);
}
#hat-buckle {
  fill: var(--color-hat-buckle);
}
#eye-left-inner,
#eye-right-inner {
  fill: var(--color-turkey-eye-inner);
  transform-origin: center;
  animation-name: blink;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-delay: 8s;
  animation-iteration-count: infinite;
}
#eye-left-pupil,
#eye-right-pupil {
  fill: var(--color-turkey-eye-pupil);
  animation-name: side-to-side;
  animation-duration: 15s;
  animation-timing-function: ease-in-out;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}
#arm-left,
#arm-right {
  fill: var(--color-turkey-arms);
}
#arm-right,
#arm-left {
  transform-origin: center;
  animation-name: flap-right;
  animation-duration: 15s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-iteration-count: infinite;
}
#arm-left {
  animation-name: flap-left;
}

#beak {
  fill: var(--color-turkey-beak);
}
#feet {
  fill: var(--color-turkey-feet);
}
@keyframes ruffle {
  0%, 100% {
    opacity: 1;
    transform: translate(0, 0);
  }
  50% {
    opacity: .5;
    transform: translate(0, -10px);
  }
}
#feathers path.animated {
  transform-origin: center;
  animation-name: ruffle;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-iteration-count: 1;
}
#feather-1 {
  fill: var(--color-turkey-feather-1);
}
#feather-2 {
  fill: var(--color-turkey-feather-2);
}
#feather-3 {
  fill: var(--color-turkey-feather-3);
}
#feather-4 {
  fill: var(--color-turkey-feather-4);
}
#feather-5 {
  fill: var(--color-turkey-feather-5);
}
#feather-6 {
  fill: var(--color-turkey-feather-6);
}
#feather-7 {
  fill: var(--color-turkey-feather-7);
}
#feather-8 {
  fill: var(--color-turkey-feather-8);
}
